art==6.4
bitcoinlib==0.7.2
certifi==2025.1.31
charset-normalizer==3.4.1
fastecdsa==3.0.1
idna==3.10
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
mnemonic==0.21
numpy==2.2.3
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
prompt_toolkit==3.0.50
pycryptodome==3.21.0
Pygments==2.19.1
pytest==8.3.4
python-bitcoinlib==0.12.2
qrcode==8.0
requests==2.32.3
rich==13.9.4
SQLAlchemy==2.0.38
termcolor==2.5.0
typing_extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
